* {
    font-family: math;
}

nav {
    background-color: #575050;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

h2 {
    background-color: #4DCDB7;
    padding: 10px 10px 10px 40px;
}

ul {
    list-style-type: none;
}

ul li {
    margin-right: 12px;
    display: inline;
}

ul li a {
    color: #4DCDB7;
}

.title {
    height: 150px;
    background-image: url("/Users/hamid/Documents/BootCamp/Chalenges/Portfolio/assets/images/barn.jpg");
    position: relative;
}

.title>h2 {
    position: absolute;
    right: 50px;
    bottom: 0px;
}